<main class="home">
  <app-hero></app-hero>

  <section id="about" class="home__section">
    <app-about></app-about>
  </section>

  <section id="skills" class="home__section">
    <app-skills></app-skills>
  </section>

  <section id="experience" class="home__section">
    <app-experience></app-experience>
  </section>

  <section id="projects" class="home__section">
    <app-projects></app-projects>
  </section>

  <section id="education" class="home__section">
    <app-education></app-education>
  </section>
</main>
